{
  "env": {
    "development": {
      "presets": ["env"],
      "plugins": [
        "add-module-exports",
        "inline-json-import"
      ]
    },
    "production": {
      "presets": ["env", ["minify", {
        "builtIns": false,
        "mangle": { "topLevel": true },
        "regexpConstructors": false,
        "evaluate": false
      }]],
      "comments": false,
      "plugins": [
        "add-module-exports",
        "inline-json-import"
      ]
    }
  }
}
